{% extends "index.html" %}
{% block title %}Your quizzes{% endblock %}
{% block head %}
    {{ super() }}


    <script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='learn.css') }}">
  
    <script>
        var quiz = {{quiz|tojson}}
    </script>




{% endblock %}

{% block content %}
<br>
<div class="row page">
    <div class= "col">
        <div class="row">
            <div class="col-2" id="backtoQuizzesCol">
            </div>
            <div class="col-8" id="quizTitleCol">
            </div> 
            <div class="col-2" id="takeQuizCol">

            </div>
        </div> 
        <hr>
        <div class="row" id="plantCardBox">
        </div> 
    </div> 
    </div>
</div>

<div style="display: none;" id="pickQuizType">
        <h2>What would you like to be tested on?</h2>
        <div class="row">
            <div class="col-6">
                <button type="button" class="btn btn-primary btn-sm btn-block lightBoxButtons" id="sciNames">Scientific names</button>
            </div>
            <div class="col-6">
                <button type="button"  class="btn btn-success btn-sm btn-block lightBoxButtons" id="comNames">Common names</button>
            </div>
        </div>                
</div>

{% endblock %}