{% extends "index.html" %}
{% block title %}Search{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename = 'search_plants.js') }}"></script>
   
    <style>
        
    .plantWidget {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px
        
    }

    #searchBar {
        width: 100%;
    }
    #sciName {
        font-style: italic;
        font-size: 1.5rem
    }

    #notes {
        font-size: 0.75rem
    }
    img {
        max-width: 100%;
        max-height: 300px;
    }
    .hoverOnDraggable{
        background-color: lightgray;
        z-index: 1;
    }

    .page {
        padding-top: 10px;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
        min-height: 450px;
    }

    #plantCard {
        /*margin: 5px;*/
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        max-height: 400px;
        background-color: yellowgreen;

    }


    #plantCardDirections {
        color: grey;
        text-align: center;
        margin-top: 180px;
    }


    
    
    </style>

<script>
        var plants = {{plants|tojson}}
</script>

{% endblock %}

{% block content %}
<br>
<div class="row page">
    <div class= "col-2" id = "buildQuiz">
        placeholder
    </div>
    <div class="col-6" id = "searchPlants">
        <input type="text" id="searchBar" placeholder='"Yew", "bean", "North America"'>
        <hr>
        <div class="row" id="searchResults"></div>
    </div>
    <div class= "border border-secondary col-4" id = "plantCard">
        <div id="plantCardDirections">
            <span>Mouse over search results to read more about each plant</span>
        </div>
       
    </div>
</div>
<hr>

{% endblock %}
