{% extends "index.html" %}
{% block title %}Search{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename = 'search_plants.js') }}"></script>
   
    <style>

    /*General page CSS */  
    #searchBar {
        width: 100%;
    }

    .page {
        padding-top: 10px;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
        min-height: 450px;
    }

    .plantImage { /*CSS for all images on page*/
        max-width:100%;
        max-height:100%;
    }

    /* CSS for each plant widget */
    .plantWidget {
        /* padding-top: 10px;
        padding-bottom: 10px; */
        margin-left: 10px;
        margin-right: 10px;
        height: 60px;
    }
  
    
    #sciName {
        font-style: italic;
        font-size: 0.68rem;
        padding-bottom: 5px;
    }

    #notes {
        font-size: 0.5rem
    }

    .widgetImage {
        padding-top: 5px;
        height: 60px;
    }

    .hoverOnDraggable{
        background-color: lightgray;
        z-index: 1;
    }

    .checked {
        background-color: lightgray
    }
    .unchecked {
        background-color: white;
    }
   
    /*CSS for plant card */
    #plantCard {
        /*margin: 5px;*/
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        max-height: 735px;
        background-color: yellowgreen;

    }
   

    #plantCardDirections {
        color: grey;
        text-align: center;
        margin-top: 180px;
    }

    .plantCard_photoRow {
        padding-top: 10px;
        max-height: 70%;
    }
    .plantCard_photoCol {
        padding-top: 5px;
        max-height: 70%;
    }

    .plantCard_sciName{
        font-style: italic;
        font-size: 1.3rem;
    }

    .plantCard_plantDescription {
        font-size: 0.70rem;

    }
    /*CSS for quiz column*/
    #buildQuiz {
        /*margin: 5px;*/
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        height: 700px;
        

    }
    #quizCol {
        padding-top: 10px;
    }
    #quizHead {
        font-size: 1.5rem;
    }
    #quizRepoRow {
        background-color: yellowgreen;
        height: 370px;
        color: grey;
    }
    #quizRepoCol {
        text-align: center;
        overflow-y:scroll;
        height: 369px;  
    }
    #quizRepoColDirections{
       
    }
    #quizButtonRow {
        margin-top: 5px;
    }
   
    /*CSS for dragging divs*/
    .draggingDiv{
        height: 60px;
        width: 200px;
        background-color: red;
        
    }


    
    
    </style>

<script>
        var plants = {{plants|tojson}}
</script>

{% endblock %}

{% block content %}
<br>
<div class="row page">
    <div class= "col-3" id = "buildQuiz">
        <div class = "row" id="quizCol">
            <div class= "col-8"><span id=quizHead>Quiz</span></div>
            <div class= "col-3"><button id= "clearButton" class="btn btn-danger btn-sm">Clear</button></div>
        </div>
        <div class = "row border border-secondary" id="quizRepoRow">
            <div class= "col" id="quizRepoCol">
                <span id="quizRepoColDirectios">Drag plants here to build your quiz</span>
            </div>
        </div>
        <div class= "row" id= "quizButtonRow">
            <div class= "col-6" id="quizSettings">
                <button type="button" class="btn btn-warning btn-sm btn-block">Settings</button>
            </div>
            <div class= "col-6" id="takeQuiz">
                <button type="button" class="btn btn-success btn-sm btn-block">Take Quiz</button>
            </div>
        </div>

    </div>
    <div class="col-4" id = "searchPlants">
        <input type="text" id="searchBar" placeholder='"Yew", "bean", "North America"'>
        <hr>
        <div class="row" id="searchResults"></div>
    </div>
    <div class= "border border-secondary col-5" id = "plantCard">
        <div id="plantCardDirections">
            <span>Mouse over search results to read more about each plant</span>
        </div>
       
    </div>
</div>
<hr>

{% endblock %}
